@use "./partials/variables" as *;
// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

// Import font
@font-face {
  font-family: "ITC Avant Garde Gothic Std Demi";
  src: url("ITCAvantGardeStd-Demi.woff2") format("woff2"),
    url("ITCAvantGardeStd-Demi.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ITC Avant Garde Gothic Std";
  src: url("ITCAvantGardeStd-Md.woff2") format("woff2"),
    url("ITCAvantGardeStd-Md.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ITC Avant Garde Gothic Std";
  src: url("ITCAvantGardeStd-Bold.woff2") format("woff2"),
    url("ITCAvantGardeStd-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body {
  color: $sage;
  font-family: "ITC Avant Garde Gothic Std";
}

.btn-sage {
  color: $white;
  background-color: $sage;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 10px;
  a {
    text-decoration: none;
    color: $white;
  }
}

.btn-sage:hover {
  transform: scale(1.02);
}
.active {
  background-color: $fresh-teal;
  border-radius: 5px;
  padding: 10px 15px;
}
